* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: F4F5FB;
}

.header-content {
  padding: 0 32px;
}

#container0 {
  width: 100%;
  max-width: 588px;
  margin: 50px auto 0px;
  padding: 0 32px;
}

#container1 {
  margin: 32px;
}

#back-button {
  padding: 57px 16px;
  background-position-x: 369;
  background-position: 127;
  border-bottom: 0;
}

.add-item-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 25px;
}

.input-item {
  flex-grow: 1;

  padding: 12px 15px;
  font-size: 16;
  border: 1px solid #d1d5db;
  border-radius: 12;
}

.input-item:focus {
  border-color: #fff;
}

.btn-add {
  padding: 12px 20px;
  font-size: 16;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;

  background-color: #ca3884;
  color: #fff;
}

.btn-add:hover {
  background-color: #d63083;
}

#container2 {
  width: 100%;
  max-width: 232px;
  margin: 50px auto 0px;
  padding: 0 32px;
}

#checkboxList {
  display: flex;
  gap: 15px;
  padding: 12px;
  border: 1px solid;
  border-radius: 15px;
  background-color: aqua;
}

.checkbox {
}
